﻿@font-face {
    font-family: 'plixelregular';
    src: url('mods/Fox Core V2-1/Staxel/UI/fonts/plixel-webfont.eot');
    src: url('mods/Fox Core V2-1/Staxel/UI/fonts/plixel-webfont.eot?#iefix') format('embedded-opentype'), url('mods/Fox Core V2-1/Staxel/UI/fonts/plixel-webfont.woff2') format('woff2'), url('mods/Fox Core V2-1/Staxel/UI/fonts/plixel-webfont.woff') format('woff'), url('mods/Fox Core V2-1/Staxel/UI/fonts/plixel-webfont.ttf') format('truetype'), url('mods/Fox Core V2-1/Staxel/UI/fonts/plixel-webfont.svg#plixelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyFirstCrush';
    src: url('mods/Fox Core V2-1/Staxel/UI/fonts/MyFirstCrush.eot?#iefix') format('embedded-opentype'), url('mods/Fox Core V2-1/Staxel/UI/fonts/MyFirstCrush.woff') format('woff'), url('mods/Fox Core V2-1/Staxel/UI/fonts/MyFirstCrush.ttf') format('truetype'), url('mods/Fox Core V2-1/Staxel/UI/fonts/MyFirstCrush.svg#MyFirstCrush') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "MyFirstCrush";
}
