﻿<link rel="stylesheet" href="css/Core.css" />
<link rel="stylesheet" href="css/NimbusFox.FoxUtils.css" />
<script src="js/Core.min.js"></script>
<script src="js/NimbusFox.FoxUtils.js"></script>
<style>
    .foxutils-body {
        background-image: url("file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/image/PlayerList/PlayerListUI.png");
    }

    .foxutils-body-small {
        background-image: url("file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/image/PlayerList/CommandsUI.png");
    }

    @font-face {
        font-family: 'plixelregular';
        src: url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/plixel-webfont.eot');
        src: url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/plixel-webfont.eot?#iefix') format('embedded-opentype'), url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/plixel-webfont.woff2') format('woff2'), url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/plixel-webfont.woff') format('woff'), url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/plixel-webfont.ttf') format('truetype'), url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/plixel-webfont.svg#plixelregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'MyFirstCrush';
        src: url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/MyFirstCrush.eot?#iefix') format('embedded-opentype'), url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/MyFirstCrush.woff') format('woff'), url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/MyFirstCrush.ttf') format('truetype'), url('file:///C:/Program%20Files%20(x86)/Steam/steamapps/common/Staxel/content/staxel/ui/font/MyFirstCrush.svg#MyFirstCrush') format('svg');
        font-weight: normal;
        font-style: normal;
    }
</style>
<script>
    $(document).ready(() => {
        var obj = {
            btnJoinText: "Join",
            btnCreateText: "Create"
        };
        NimbusFox.FoxUtils.TeamFarming.getMainWindow(JSON.stringify(obj));
    });
</script>
<body>
</body>